<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>


        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<h4>Let's take a closer look to CI/CD</h4>
<div class="container-fluid">
    <div class="row">
        <header class="mb-3">
            <!-- As a link -->
            <nav class="navbar navbar-light bg-dark fixed-top">
                <div class="container-fluid ">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" aria-current="page" href="/docker">Docker</a>
                    <a class="nav-link" aria-current="page" href="/python">Python</a>
                    <a class="nav-link active" aria-current="page" href="/html1">CI/CD</a>
                    <a class="nav-link" aria-current="page" href="/git">Git</a>
                </div>
            </nav>
        </header>

        <!-- Begin page content -->
        <div class="container-fluid" style="margin-top: 70px;">
            <div class="row">
                <div class="col-5">
                    <h3 class="mt-5">CI/CD </h3>
                    <img src="{{ url_for('static', filename='/images/ci.png') }}"
                         class="d-block" style="height: 470px; width: 700px;"/>

                    <h3 class="mt-5">CI/CD Pipeline </h3>
                    <img src="{{ url_for('static', filename='/images/CICD-pipeline.png') }}"
                         class="d-block" style="height: 410px; width: 700px;"/>
                </div>
                <div class="col">
                    <h3 class="mt-5">What is CI/CD? </h3>
                    <p style="font-size: 22px;">CI and CD stand for continuous integration and continuous
                        delivery/continuous deployment. In very simple terms, CI is a modern software development
                        practice in which incremental code changes are made frequently and reliably. Automated
                        build-and-test steps triggered by CI ensure that code changes being merged into the repository
                        are reliable. The code is then delivered quickly and seamlessly as a part of the CD process. In
                        the software world, the CI/CD pipeline refers to the automation that enables incremental code
                        changes from developers’ desktops to be delivered quickly and reliably to production.</p>
                    <h3 class="mt-5">Why CI/CD important? </h3>
                    <p style="font-size: 22px;">CI/CD allows organizations to ship software quickly and efficiently.
                        CI/CD facilitates an effective process for getting products to market faster than ever before,
                        continuously delivering code into production, and ensuring an ongoing flow of new features and
                        bug fixes via the most efficient delivery method.</p>
                    <h3 class="mt-5">CI - Continuous Integration</h3>
                    <p style="font-size: 22px;">Continuous Integration (CI) is practice that involves developers making
                        small changes and checks to their code. Due to the scale of requirements and the number of steps
                        involved, this process is automated to ensure that teams can build, test, and package their
                        applications in a reliable and repeatable way. CI helps streamline code changes, thereby
                        increasing time for developers to make changes and contribute to improved software.</p>
                    <h3 class="mt-5">CD - Continuous Delivery</h3>
                    <p style="font-size: 22px;">Continuous Delivery (CD) is the automated delivery of completed code to
                        environments like testing and development. CD provides an automated and consistent way for code
                        to be delivered to these environments.</p>
                    <h3 class="mt-5">Continuous Deployment</h3>
                    <p style="font-size: 22px;">Continuous Deployment is the next step of continuous delivery. Every
                        change that passes the automated tests is automatically placed in production, resulting in many
                        production deployments.
                        Continuous deployment should be the goal of most companies that are not constrained by
                        regulatory or other requirements</p>
                </div>

            </div>
        </div>

        <footer class="bg-light text-center">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-size: 20px;">
                © 2022 Copyright:DIVYA GABANI
            </div>
        </footer>
        <!-- Optional JavaScript; choose one of the two! -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
