<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<h3>Home Page</h3>
<header class="mb-3">
    <!-- As a link -->
    <nav class="navbar navbar-light bg-dark fixed-top">
        <div class="container-fluid ">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" aria-current="page" href="/docker" style="color: white;">Docker</a>
            <a class="nav-link" aria-current="page" href="/python" style="color: white;">Python</a>
            <a class="nav-link" aria-current="page" href="/html1" style="color: white;">CI/CD</a>
            <a class="nav-link" aria-current="page" href="/git" style="color: white;">Git</a>
            <a class="nav-link" aria-current="page" href="/oop" style="color: white;">OOPS</a>
            <a class="nav-link" aria-current="page" href="/pylint" style="color: white;">Pylint</a>
            <a class="nav-link" aria-current="page" href="/solid" style="color: white;">SOLID</a>
            <a class="nav-link" aria-current="page" href="/aaa" style="color: white;">AAA</a>
        </div>
    </nav>
</header>

<h4>Home Page</h4>
<!-- Carousel wrapper -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <!-- Inner -->
    <div class="carousel-inner" style="height: 750px;">
        <!-- Single item -->
        <div class="carousel-item">
            <a href="/html1"><img src="{{ url_for('static', filename='/images/cicd.png') }}" class="d-block w-100" style="height: 750px;"/></a>
        </div>

        <!-- Single item -->
        <div class="carousel-item active">
            <a href="/docker"> <img src="{{ url_for('static', filename='/images/docker.png') }}" class="d-block w-100" style="height: 750px;"/></a>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <a href="/python"> <img src="{{ url_for('static', filename='/images/python.jpeg') }}"
                                    class="d-block w-100" style="height: 750px;"/></a>
        </div>
        <!-- Single item -->
        <div class="carousel-item">
            <a href="/git"> <img src="{{ url_for('static', filename='/images/github.png') }}"
                                 class="d-block w-100" style="height: 750px;"/></a>
        </div>
        <!-- Single item -->
        <div class="carousel-item">
            <a href="/oop"> <img src="{{ url_for('static', filename='/images/op2.png') }}"
                                 class="d-block w-100" style="height: 750px;"/></a>
        </div>
        <!-- Single item -->
        <div class="carousel-item">
            <a href="/pylint"> <img src="{{ url_for('static', filename='/images/pylint.png') }}"
                                 class="d-block w-100" style="height: 750px;"/></a>
        </div>
        <!-- Single item -->
        <div class="carousel-item">
            <a href="/solid"> <img src="{{ url_for('static', filename='/images/sld.jpg') }}"
                                 class="d-block w-100" style="height: 750px;"/></a>
        </div>
        <!-- Single item -->
        <div class="carousel-item">
            <a href="/aaa"> <img src="{{ url_for('static', filename='/images/amain.png') }}"
                                 class="d-block w-100" style="height: 750px;"/></a>
        </div>
    </div>
    <!-- indicatore -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid" >
    <div class="row">
        <div class="col">
            <div class="card" style="width: 20rem; border: none;">
                <div class="card-body">
                    <h4 class="card-title">Docker</h4>
                    <p class="card-text" style="font-size:20px;">Docker is an open platform for developing, shipping,
                        and running applications. Docker enables you to separate your applications from your
                        infrastructure so you can deliver software quickly.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem; border: none;">
                <div class="card-body">
                    <h4 class="card-title">Python</h4>
                    <p class="card-text" style="font-size:20px;">Python is an interpreted, object-oriented, high-level
                        programming language with dynamic semantics.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem; border: none;">
                <div class="card-body">
                    <h4 class="card-title">CI/CD</h4>
                    <p class="card-text" style="font-size:20px; border: none;">CI/CD is a method to frequently deliver
                        apps to customers by introducing automation into the stages of app development. The main
                        concepts attributed to CI/CD are continuous integration, continuous delivery, and continuous
                        deployment. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem; border: none;">
                <div class="card-body">
                    <h4 class="card-title">GitHub</h4>
                    <p class="card-text" style="font-size:20px;">GitHub is a website and cloud-based service that helps
                        developers store and manage their code, as well as track and control changes to their code.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Introduction of Myself</h4>
            <p style="font-size:22px;">Hello Everyone!
                I am Divya Gabani. I am pursuing Master's in Computer Science. This is my third semester. I have
                completed my Bachelor's in Computer Applications from India. I have worked with Javascript, Python, SQL,
                HTML.
            </p>
            <p style="font-size:22px;">I have created this website as a part of project 1 for IS601-Web System
                Development using pychram as IDE,Docker and HEROKU for deploy and manage my flask application.
                Each technology is explained in detail in particular webpages.
            </p>
        </div>

    </div>
</div>
<footer class="bg-light text-center">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-size: 20px;">
        © 2022 Copyright:DIVYA GABANI
    </div>
</footer>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>